<%- include('partials/header') -%>

<h1 id="PPTitle"><a href='/pixel'>Pixel Perfect</a></h1>
		
<nav class="navbar">
	<ul>		
		<li><h2><a href="/profile">Profile</a></h2></li>
		<li><h2><a href="/signup">Signup</a></h2></li>

		<%if(!user){ %>
		<li><h2><a href="/login">Login</a></h2></li>
		<%}%>

		<%if(user){ %>
		<li><h2><a href="/logout">Logout</a></h2></li>
		<%}%> 

		<%if(user && user.userName && user.level == 'admin'){ %>
		<li><h2><a href="/editor">Editor</a></h2></li>
		<%}%>

		<%if(user && user.userName && user.level == 'admin') { %>
		<li id="userNameDisplay"><%=user.userName %>|<%= user.level%></li>
		<%}%>

		<%if(user && user.userName && user.level == 'base'){ %>
		<li id="userNameDisplay"><%= user.userName %></li>
		<%}%>

		<%if(!user){ %>
		<li id="userNameDisplay">Guest</li>
		<%}%>	
	</ul>
</nav>
<hr>

<div id="editorBlock">
	<form id="editorForm" action="/post/createPost" enctype="multipart/form-data" method="POST">

		<label for="title" class="form-label"></label>
		<input type="text" class="form-control signupForm" id="editorTitle" name="title" placeholder="Title">

		<br>

		<div id="mceContainer">
			<label for="caption" class="form-label"></label>
			<textarea id="tinyMce" class="editorCaption" name="caption"></textarea>
		</div>
		<br>

		<div id="imgUploadDiv">
			<input type="file" class="form-control" id="imageUpload" name="file">
		</div>

		<br>

		<button type="submit" class="btn btn-primary" value="Upload">Submit</button>
	</form>
</div>

<hr>
<hr>





<footer id="footer">
<p class="copyright">&copy; Code by Jojo.</p>
</footer>

<%= console.log('Sup') %>


<script type="text/javascript" src="js/main.js"></script>
<!-- Script element sourcing TinyMCE -->
<script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
<!-- Script element sourcing the TinyMCE configuration -->
<script type="application/javascript" src= "js/main.js"></script>

</body>
</html>