<%- include('partials/header') -%>

<div id="thePage">
        <h1 id="PPTitle">This is the Pixel Perfect Home Page</h1>

		<h2 id="userNameDisplay"> <%= user.userName %> | <%= user.level %> | <a href="/logout">
			<button class="out" type="button">Logout</button>
		</a></h2>

		<hr>
		<ul id="navigate">	
			<li><h2><a href="/">Index</a></h2></li>
			<li><h2><a href="/pixel">Pixel Home</a></h2></li>
			<li><h2><a href="/profile">Profile</a></h2></li>
			<li><h2><a href="/signup">Signup</a></h2></li>
			<li><h2><a href="/login">Login</a></h2></li>
			
			<%if(user.level == 'admin'){ %>
				<li><h2><a href="/editor">Editor</a></h2></li>
			  <%}%> 
		</ul>
		<hr>
			<div id='choice'>
				<div id="topChoice">
					<img src="/resources/Pic1.jpg">
					<img src="/resources/Pic2.jpg">
					<img src="/resources/Pic3.jpg">
				</div>

				<div id="botChoice">
					<img src="/resources/Pic4.jfif">
					<img src="/resources/Pic5.jfif">
					<img src="/resources/Pic6.jpg">
				</div>
				
			</div>

		<hr>
		<ul>
			<% for(var i=0; i<posts.length; i++) {%>
			  <li>
				
				<a href="/post/<%= posts[i]._id%>">
					<h2 class="title"><%= posts[i].title%></h2>
					
				  <img class="img-fluid" src="<%= posts[i].image%>">
				</a>
				  <h2><%= posts[i].caption%></h2>
				  <h2><%= `Written by ${posts[i].userName}`%></h2>
				<hr>
			  </li>
			<% } %>
			</ul>
		<hr>


	

	</div>
	 	
<%- include('partials/footer') -%>